# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#
test.cpp

# to be implemented
lib/timer.cpp
lib/timer.h
prepare_matrix.cpp
lib/save_and_load_matrix.cpp
lib/save_and_load_matrix.h
